      </section>
    </div>

    <!-- FOOTER -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <ul>
            <li>Copyright &copy;2012 Joel Cross.</li>
            <li>Uses <a href="https://github.com/jsncostello/slate">Jason Costello's 'Slate' theme.</a></li>
        </ul>
      </footer>
    </div>

    <script type="text/javascript" src="http://media1.juggledesign.com/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

  </body>
</html>
